{%extends 'base.html' %}
{% block title %}
    <title> Swap it </title>
{% endblock %}

{% block content %}
<!--        <link rel="stylesheet" href="./my_css.css">-->
    <h1> {{brand_name}} </h1>
    <h2>
        {% if product_name %}
        {{product_name}}
        {% else %}
        Item 3
        {% endif %}
    </h2>
    {% if user.is_authenticated %}
        <h3> Hey, {{user.first_name}} {{user.last_name}}! </h3>
    {% endif %}
    <p> We have a total of {{product_list | length}} you can chose from. </p>
{% endblock %}
</html>




