{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Products </title>
{% endblock %}
{% block content %}
<!--<img src="/media/image/Black-Pant.jpeg" />-->
<ul>
<!--    The below will iterate over a list of products    -->
        {% for product in products %}
        <li> {{product.name}}
                <br>
                {{product.description}}
                </br>
                {{product.size}}
                </br>
                {{product.color}}
                </br>
                {{product.price}}
                </br>
                {{product.quantity}}
                </br>
                {% for image in products.images %}
                        {{image}}
                        <img src="/media/images/{{image }} " width="60" />
                {% endfor %}
        </li>

        {% endfor %}

{% endblock %}
</ul>

